* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.search-field {
    height: 50vh;

}

.nav-style {
    background-color: #D6E1F3;
}

.error-msg {
    display: none;
}

.card {
    background-color: #f8f8f8a1;
    color: #1B1930;
    border-radius: 10px;
    box-shadow: 1px 1px #888888;
}

.phone-img {
    width: 200px;
    height: 300px;
}