* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #E0ECF8;
}

.search-field {
    height: 50vh;

}

.nav-style {
    background-color: #D6E1F3;
}

.error-msg {
    display: none;
}

.card {
    background-color: rgb(211, 232, 236);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 1px 1px #286baa;
}

.phone-img {
    width: 200px;
    height: 300px;
}